.custom-img {
    height: 42px;
}

.custom-tool {
    height: 18px;
    margin-right: 5px;
}

.btn-custom {
    border: none;
}

.btn-custom:hover {
    border: none;
    background-color: rgb(255, 238, 207);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 14px 25px 0 rgba(0, 0, 0, 0.19);
}