.custom-img {
    height: 50px;
}

.custom-tool {
    height: 18px;
    margin-right: 5px;
}

.custom-link {
    height: 15px;
    margin-left: 4px;
}

.wordpress-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    border: none;
}

.btn-custom:hover {
    border: none;
    background-color: rgb(253, 214, 142);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 14px 25px 0 rgba(0, 0, 0, 0.19);
}

.wordpress-link {
    text-decoration: none;
    color: #636363;
}

.wordpress-link:hover {
    text-decoration: none;
    color: #303030;
}

.bi-github:hover {
    color: black !important;
    transition: 0.3s;
}

.bi-share {
    transition: 0.3s;
}

.bi-share:hover {
    color: black !important;
    transition: 0.3s;
}

.bi-linkedin {
    transition: 0.3s;
}

.bi-linkedin:hover {
    color: black !important;
    transition: 0.3s;
}

.bi-whatsapp:hover {
    color: black !important;
    transition: 0.3s;
}

.bi-whatsapp {
    transition: 0.3s;
}



@media(max-width: 650px) {

    .portfolio-center {
        text-align: center;
    }

}